@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 136 87% 37%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 201 96% 32%;
    --radius: 1rem;
  }

  
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.banner {
  @apply relative h-[40vh] md:h-[50vh] w-full overflow-hidden;
}

.banner::before {
  content: '';
  @apply  inset-0 z-10;
}

.banner-content {
  @apply relative z-20 flex flex-col justify-center items-end h-full w-full text-center px-4 md:px-8 lg:px-16;
}

.floating-navbar {
  @apply fixed top-0 left-0 right-0 z-50 backdrop-blur-md;
}

.custom-html-table table {
  @apply max-w-[320px] overflow-y-scroll sm:max-w-[550px] md:max-w-[400px] lg:max-w-[550px] border;
}
.custom-html-table th,
.custom-html-table td {
  @apply p-2 text-left max-w-[120px] sm:max-w-[40px] md:max-w-[80px] lg:max-w-[250px] overflow-y-scroll;
}

.custom-html-desc-table {
  @apply overflow-y-scroll lg:max-w-[550px];
}

.custom-html-desc-table th,
.custom-html-desc-table td {
  @apply p-2 text-left max-lg:max-w-[210px] overflow-y-scroll;
}

.custom-blog-table {
  @apply my-4 overflow-y-scroll ;
}
.custom-blog-table th,
.custom-blog-table td {
  @apply p-4 my-4 text-left max-lg:max-w-[210px] overflow-y-scroll border-2 border-primary;
}

.custom-blog-table td {
  @apply font-medium
}
.custom-strong-tag {
 @apply my-4
}

